{% extends 'base.html.twig' %}

{% block title %}Nos produits : Les vins de Bourgogne{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <h1>Filtrer</h1>
    </div>
    <div class="col-md-9">
        <h1>Nos produits</h1>
        <div class="row product-container">
            {% for product in products %}
                {#{{ dump (product) }}#}
                <div class="col-md-6">
                    <div class="product-item text-center">
                        <a href="{{ path('app_product',{'slug' :
                            product.slug}) }}"><img
                                    src="/uploads/{{ product
                                    .illustration }}" alt="{{
                            product.name }}" class="img-thumbnail"
                                    width="400" height="400"></a>

                        <h5>{{ product.name }}</h5>
                        <span class="product-subtitle">{{ product.subtitle }}</span>
                        <span class="product-price">{{ (product.price/ 100)|number_format(2, ',', '.') }} € </span>


                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    </div>
{% endblock %}
